img {
    display: block;
    width: 100%; /* 调整为响应式 */
    height: 100%; /* 保持容器高度 */
    object-fit: cover; /* 确保图片按比例缩放并填充容器 */
}

.box {
    width: 100%; /* 使盒子的宽度响应式 */
    max-width: 600px; /* 限制最大宽度 */
    height: 200px;
    border: 5px solid #000;
    margin: 50px auto;
    overflow: hidden;
}

.box ul {
    display: flex;
    width: calc(200px * 16); /* 两倍的图片数量以实现无缝滚动 */
    animation: move 12s infinite linear; /* 动画时间 */
}

.box:hover ul {
    animation-play-state: paused;
}

.box li {
    width: 200px;
    height: 200px; /* 调整高度以匹配.box高度 */
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 8)); /* 移动半个列表的长度 */
    }
}

/* 媒体查询用于调整PC端和移动端的显示效果 */
@media (max-width: 600px) {
    .box {
        height: 150px; /* 调整移动端的盒子高度 */
    }

    .box li {
        height: 150px; /* 调整移动端的li高度 */
    }
}