html,body{
    height: 100%;
    width:100%;
}
img{
    height: 100%;
    width:100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
}
header{
    position:relative ;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
    font-size: 100px;
    letter-spacing: 20px;
}
article{
    background: #00000073;
    color :red;
    position: relative;
    height: 100%;
    width: 100%;
}

article p{
    color :blanchedalmond;
    width: 600px;
    margin: 0 auto;
    font-size: 26px;
}
div{
  
    font-size: 20px;
    color: aqua;
}
a{
    color: rgb(50, 182, 205);

}
a:hover{
    color: yellowgreen;

}
