
.introduce{

    display: inline-block;
    position:static;
    width: 50%;
    height: 40%;
   
}

.important{
    width: auto;
    float:inherit;
    font-size: larger;
    font-weight: 200;
}

.load{
    background: rgba(68, 145, 184, 0.45);
}
.load a {
    color:rgb(17, 54, 220);
    padding: 10px 10px;
    display: inline-block;
}

.load a:hover {
    background: #bbb;
    color: #000;
}

.text{
    background: rgba(68, 145, 184, 0.45);
    padding: 20px;
    text-align: center;
}

